<!-- # 192 We will first include our login html template(header and footer(base.html)) and then copy the body from our downloaded template and paste it in our {block content}. -->
{% extends 'base.html' %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">
    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 600px; margin-top:100px;">

          <div class="card-body">
          <h4 class="card-title mb-4">Forgot Password</h4> <!-- # 194 We will change the title to Forgot Password -->

          <!-- # 200j Here we will display login error messages then we will go back to # 200i views.py files of the accounts app-->
          {% include 'includes/alerts.html' %}

          <!-- # 195 Next we will add the action and method attribute to the form tag for posting data -->
          <form action="{% url 'forgotPassword' %}" method="POST">

            <!-- # 196 We will the add the csrf_token to secure post data -->
            {% csrf_token %}
              <div class="form-group">

                <!-- # 197 Next we will provide a name attribute(email) for the email input -->
                 <input type="email" class="form-control" placeholder="Email Address" name="email">
              </div> <!-- form-group// -->
              
              <div class="form-group">
                <!-- # 198 we will give an alternative to login instead -->
                  <a href="{% url 'login' %}" class="float-right">Remember Password? Login</a> 
               
              </div> <!-- form-group form-check .// -->
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Submit  </button> <!-- # 199 Now the text should be 'submit'. We will now go to the views.py # 200 file of the account app to write the forgot password logic -->
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
        <!-- # 193 We will add the register link so that when we click on the link, it will take us to the register.html page -->
         <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->    

{% endblock %}