<!-- # 201 Here we will create the reset password email template -->
{% autoescape off %} <!-- # 202 We will first put the autoescape tag which is used to render the html cuz it is the safest way of to render html for sending emails and it protects you from website forgery. -->

Hi {{user.first_name}},

As requested, Please click below link to reset your password.
http://{{domain}}{% url 'resetpassword_validate' uidb64=uid token=token %} <!-- Here in the resetpassword link, when the user click on it, it will take the user to the resetpassword_validate view(page) and 'allow the user reset his password' and we will be passing the uid and token -->
<!-- Also note that when this link is clicked once, the token automatically get expired and nobody can use it again even the actual user-->

If you think it's not you, please ignore this email.
{% endautoescape %}  <!-- # 202 ends -->

<!-- # 202 Next we will configure our SMTP by going to the settings.py file of the bellastores app folder. But it should have been setup by now when we did the activate user email -->
<!-- Next we goto the url.py # 203 file of the accounts app and create our url for the resetpassword_validate page -->