
{% extends 'base.html' %}
{% load static %}

{% block content %}




<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<!-- # 61 Rename the previouse image name to the newly stored image name. Next we will want to display 
		an "out of stock" text when a product is out of stock. To do that, we will go 
		to the product-detail.html # 62 page and make the 'add to cart' button change to 'out of stock'
		 when there is no product -->
	<img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<!-- # 59a We will route the (See All) href to the store page. Then we will go to the store.html # 60 page 
		to route each product to the product-detail page -->
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Popular products</h3>
</header><!-- sect-heading -->

	
<div class="row">
	<!-- # 37 We will loop through the products and display them here using for loop then refresh the browser to see all products-->
	<!-- # 37a Next, we want to set up the store page so when we click on the store button, it will open. -->
	<!-- # 37a To do this we need to set up the store url to have the form '127.0.0.1:8000/store'-->
	<!-- # 37a So we will create a (urls.py # 38) file in the store app and set it up -->
    {% for product in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
	<!-- # 37b 'Product.images.url' will print the path of the image to match where it is stored in our media folder -->
	<!-- # 57 We will include the get_url funcion in each product in each product to go to the 
		product_detail.html page displaying the selected product. Now when we click on the product 
		image or the product name, it will route us to that product detail page.-->
	<!-- # 57b Next we will fix the buttons in the navbar.html # 58 to route properly -->
			<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
			<figcaption class="info-wrap">
				<a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
				<div class="price mt-1">$ {{ product.price }}</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->




<!-- ========================= FOOTER ========================= -->

<!-- ========================= FOOTER END // ========================= -->

</body>
</html>

{% endblock %}